__MACOSX/*

phpmyadmin/*
**.DS_Store
**.zip
wp-admin/*
wp-content/uploads/*
nbproject/*
.htaccess
index.php
wp-content/languages/*
wp-content/index.php
wp-content/themes/twentyfifteen/*
wp-content/themes/twentyseventeen/*
wp-content/themes/twentysixteen/*
wp-content/themes/foodpicky/*
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-includes/*
wp-cron.php
wp-config.php
wp-comments-post.php
wp-activate.php
wp-config-sample.php
wp-blog-header.php
wp-content/plugins/akismet/*
wp-content/plugins/woocommerce/*
wp-content/plugins/hello.php
wp-content/ai1wm-backups/*
wp-content/plugins/all-in-one-wp-migration-multisite-extension/*
wp-content/plugins/all-in-one-wp-migration/*
license.txt
readme.html
wp-content/plugins/woothemes-updater/*
